.card {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.pagination_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 8px;
}
.pagination_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.pagination_buttons button {
  padding: 2px;
}
.header_container {
  display: flex;
  justify-content: space-around;
}

.header_container .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.search {
  padding: 8px;
  font-size: 15px;
  margin: 5px;
}

.card div {
  margin-bottom: 5px;
}

.card strong {
  font-weight: bold;
}

.card .email {
  color: blue;
}

.card .domain {
  color: green;
}

.card .name {
  color: yellowgreen;
}
